@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
  /* font-family: 'Metal Mania', cursive; */

body {
  background-color: rgb(18, 59, 15);
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  color: #f3ede1;
}

header {
  /* border: 2px dotted red; */
  height: 60px;
  width: 100vw;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  height: 45px;
}

main {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.6);
  text-align: center;
  box-sizing: border-box;
}

.list {
  /* border: 2px dotted yellow; */
  padding-top: 80px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
}

h1 {
  font-family: 'Metal Mania', cursive;
  font-size: 1.5em;
  /* margin-bottom: 15px; */
  letter-spacing: .1em;
  width: 100px;
  word-wrap: normal;
}

.character {
  /* border: 2px dotted pink; */
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character img {
  height: 150px;
  margin-bottom: 10px;
  transition: .2s;
}

.character img:hover {
  transform: scale(1.1);
}